*{
	touch-action: manipulation;
	-ms-touch-action: manipulation;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
.header{
	font-size: 600%;
	font-family: Verdana, Arial, times-new-roman;
	font-weight: bold;
	background-color: #ffe524;
	color: #fcfcfc;	
	margin-bottom: 5%;
	height: 12vh;
	display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
}

.char-pic{
	margin: 2%;
	object-fit: cover;
	object-position: 100% 0;
	width: 40%;
	border-radius: 10px;
	background: -webkit-linear-gradient(#00c0ff, #00994d);
}

.navbar{
	font-size: 300%;
	font-weight: bold;
	margin: 40px;
}

.navbar-element{
	display: inline-block;
	margin: 0.5%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	text-decoration: none;
	text-shadow: 0.5px 0.5px grey;
	color: #616161;
	padding: 20px;
}

.navbar-element:hover{
	background-color: #00c0ff;
}



.go_back, .hits{
	font-size: 300%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-shadow: 0.5px 0.5px grey;
	font-weight: bold;
	font-family: Verdana, fantasy;
	border-radius: 10px;
}

.go_back:hover{
	background-color: #ffe524;
}

.hits:hover{
	background-color: #ff1a1a;
}

.hitbox{
	overflow: hidden;
	border: 1px solid #00c0ff;
}

.gif{
	border-top: none;
	border-bottom: none;
	padding: 2% 1% 2% 1%;
	display: block;;
	overflow: hidden;
	min-width: 98%;
}
.stat-container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.move-group{
	margin: 40px 0px 0px 0px;
	background: #00c0ff;
	color: #fcfcfc;
	display: flex;
    align-items: center;
	justify-content: center;
	font-size: 700%;
	-webkit-text-stroke: 3px black;
	font-weight: bold;
	height: 10vh;
	overflow: hidden;
    white-space: nowrap

}
.move-container, .air-move-container, .special-move-container, .grab-container, .throw-container, .dodge-container{
	font-family: Georgia, serif;
	margin: 50px 20px 50px 20px;
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 400%;
	color: #fcfcfc;
}


.movename, .startup, .air-movename, .air-startup, .special-movename, .special-startup, 
.grab-movename, .grab-startup, .throw-movename, .throw-startup, .dodge-movename, .dodge-startup{
	display: flex;
    align-items: center;
    justify-content: center;
	height: 8vh;
	background: #00994d;
    font-weight: bold;
    text-align: center;
}
.startup, .air-startup, .special-startup, .grab-startup, .throw-startup, .dodge-startup{
	background: #3c647d;
	text-align: center;
}

.active-frames, .total-frames, .percent, .air-active-frames, .air-total-frames, .air-percent, 
.air-landing-lag, .air-l-cancel-lag, .special-active-frames, .special-total-frames, 
.special-percent, .special-landing-lag, .grab-total-frames, .throw-percent, .throw-total-frames, 
.dodge-inv-frames, .dodge-total-frames, .dodge-inv-frames, .dodge-total-frames, .notes, 
.air-acancel, .land-fall, .iasa, .shield-stun{
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
    align-items: center;
    justify-content: center;
	min-height: 16%;
	max-height: 25%
	text-align: center;
	border: 1px solid #00c0ff;
	color: #000000;
}

.notes{
	font-size: 75%;
}

.special-active-frames, .special-total-frames, .special-percent, .special-landing-lag{
	display: flex;
    align-items: center;
    justify-content: center;
	height: 9.1%;
	border: 1px solid #00c0ff;
	color: #000000;
}

.misc-container{
	margin: 10px;
}
.misc-info{
	font-family: Georgia, serif;
	display: flex;
    align-items: center;
    justify-content: center;
	font-size: 300%;
	color: #000000;
	margin: 15px;
}

.frame-num{
	font-family: Verdana, Arial;
	font-weight: bold;

}

.bg-modal{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: none;
}

.modal-content{
	width: 75%;
	min-height: 20%;
	max-height: 80%;
	background-color: #3c647d;
	text-align: center;
	align-items: center;
	border-radius: 10px;
	padding: 30px;
	position: absolute;

}

.fbf-img{
	width: 85%;
	border-radius: 10px;
}

.close{
	color: white;
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 100px;
	transform: rotate(45deg);
	cursor: pointer;
}

.button {
	background-color: #00994d;
	border: none;
	color: white;
	padding: 6% 8%;
	width: 25%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 300%;
	font-weight: bold;
	margin: 30px 30px;
	cursor: pointer;
}

.mod_move_name{
	font-size: 400%;
    font-weight: bold;
    margin-bottom: 2.5%;
    color: #fcfcfc;
}

.c-frame{
	font-size: 300%;
    font-weight: bold;
    margin: 1%;
    color: #fcfcfc;
}