*{
	font-family: Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	touch-action: manipulation;
	
}

.header{
	font-size: 300%;
	font-family: Verdana;
	font-weight: bold;
	background-color: #ffe524;
	color: #fcfcfc;	
	margin-bottom: 1%;
	height: 12vh;
	display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    width: 100%;
}
.title{
	max-width: 99%;
	max-height: 99%;
}

.head_bot{
	max-width: 99%;
	height: 20vh;
	margin-bottom: 1%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.gif{
	border: 1px solid #00c0ff;
	border-top: none;
	border-bottom: none;
	padding: 2% 1% 2% 1%;
	display: block;
	max-width: 100%;
	overflow: hidden;
}


.go_back, .hits{
	font-size: 2.5vh;
	font-weight: bold;
	text-shadow: 0.5px 0.5px grey;
	color: #616161;
	flex-shrink: 1;
	list-style: none;
	padding: 5px;
}

.go_back:hover{
	background-color: #ffe524;
}


.hits:hover{
	background-color: #ff1a1a;
}

.char-pic{
	border-style: solid;
	border-radius: 10px;
	border-color: white;
	background: -webkit-linear-gradient(#00c0ff, #00994d);
	max-height: 105%;

}

.navbar{
	font-size: 200%;
	font-weight: bold;
	margin: 40px;
}

.navbar-element{
	display: inline-block;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	text-decoration: none;
	text-shadow: 0.5px 0.5px grey;
	color: #616161;
	padding: 20px;
}

.navbar-element:hover{
	background-color: #00c0ff;
}


.stat-container{
	max-width: 1920px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.move-group{
	max-width: 1920px;
	background: #00c0ff;
	color: #fcfcfc;
	justify-content: center;
	font-size: 300%;
	-webkit-text-stroke: 1px black;
	font-weight: bold;
	margin-bottom: 1%;
	margin-top: 1%;
	padding: 10px;

}
.move-container, .air-move-container, .special-move-container, .grab-container, .throw-container, .dodge-container, .misc-container{
	max-width: 280px;
	margin: 0.5%;
	color: #fcfcfc;

	
}
.movename, .air-movename, .special-movename, .grab-movename, .throw-movename, .dodge-movename{
	display: flex;
    align-items: center;
    justify-content: center;
	background: #00994d;
    order: 1;
    font-size: 175%;
    font-weight: bold;
    border: 0px;
    word-break: break-word;
    height: 8vh;
    text-align: center;
}
.startup, .air-startup, .special-startup, .grab-startup, .throw-startup, .dodge-startup{
	display: flex;
    align-items: center;
    justify-content: center;
	background: #3c647d;
    order: 1;
    font-size: 150%;
    font-weight: bold;
    border: 0px;
    word-break: break-word;
    height: 6vh;
    text-align: center;
}
.active-frames, .total-frames, .percent, .air-active-frames, .special-active-frames, 
.air-total-frames, .special-total-frames, .grab-total-frames, .throw-total-frames, .dodge-total-frames,
.air-percent, .special-percent, .throw-percent, .dodge-inv-frames, .air-landing-lag,
.air-l-cancel-lag, .special-landing-lag, .iasa, .air-acancel, .land-fall, .shield-stun, .notes{
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #00c0ff;
	font-size: 125%;
	display: flex;
    align-items: center;
    justify-content: center;
	color: #000000;
	vertical-align: middle;
	text-align: center;
	min-height: 4vh;
	max-height: 12vh;
}

.notes{
	font-size: 100%;
}

.misc-info{
	font-size: 130%;
	color: #000000;
	margin-top: 5px;
	margin-bottom: 5px;
}

.misc-container{
	text-align: center;
	width: 100%;
}

.bg-modal{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: none;
}

.modal-content{
	width: 600px;
	min-height: 300px;
	max-height: 800px;
	background-color: #3c647d;
	text-align: center;
	align-items: center;
	border-radius: 4px;
	padding: 30px;
	position: absolute;

}

.fbf-img{
	width: 85%;
	border-radius: 10px;
}

.close{
	color: white;
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 40px;
	transform: rotate(45deg);
	cursor: pointer;
}

.button {
	background-color: #00994d;
	border: none;
	color: white;
	padding: 15px 32px;
	width: 40%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 150%;
	font-weight: bold;
	margin: 15px 8px;
	cursor: pointer;
  }

.mod_move_name{
	font-size: 200%;
    font-weight: bold;
    margin-bottom: 2.5%;
    color: #fcfcfc;
}

.c-frame{
	font-size: 150%;
    font-weight: bold;
    margin-top: 2.5%;
    color: #fcfcfc;
}